<% was_validated = user_age.errors.any? %>

<%= form_with(model: user_age, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% age_range_class = "form-control" %>
    <% age_range_was_invalid = user_age.errors.include?(:age_range) %>

    <% if was_validated %>
      <% if age_range_was_invalid %>
        <% age_range_class << " is-invalid" %>
      <% else %>
        <% age_range_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :age_range %>
    <%= f.text_field :age_range, class: age_range_class, placeholder: "Enter age range" %>
    <% if age_range_was_invalid %>
      <% user_age.errors.full_messages_for(:age_range).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
